@using eCommerceBlazorFrontEnd.Services.CategoryService
@inject ICategoryService CategoryService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">eCommerceBlazorFrontEnd</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        @foreach (var category in CategoryService.Categories)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@GetCategoryUrl(category.Url)">
                    @category.Name
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    // Helper method to construct the URL
    private string GetCategoryUrl(string categoryUrl)
    {
        return $"/product/category/{categoryUrl}"; // Construct the full URL here
    }
    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetAllCategories();
    }
}