@page "/product/page/{page:int}"
@using eCommerceBlazorFrontEnd.Components.SharedPages
@using eCommerceBlazorFrontEnd.Services.ProductService
@inject IProductService ProductService

<PageTitle>Product list</PageTitle>
<h3>Product list</h3>
<ProductList />

@code {
    [Parameter]
    public int Page { get; set; } = 1;
    protected override async Task OnParametersSetAsync()
    {
        await ProductService.GetAllProductsWithPagination(Page); // Load all products for the home page
    }
}
