@page "/"
@using eCommerceBlazorFrontEnd.Components.SharedPages
@using eCommerceBlazorFrontEnd.Services.ProductService
@inject IProductService ProductService

<PageTitle>Product list</PageTitle>
<h3>Product list</h3>
<ProductList />

@code {
    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetAllProducts(); // Load all products for the home page
    }
}
